body { 
    font-family: Arial; 
    background: #AAA;
    margin: 0;
    padding: 2px 3px;
    height: 100%;
}

.contents {
}

a img { 
    border: none; 
}

.block input { 
    margin: 2px 10px; 
    font-size: 80%; 
    background: #efefef;
    position: relative;
    top: -3px;
    left: 2px;
} 

.block .button { 
    color: #444; 
    cursor: hand;
    font-size: 62%; 
    margin: 0px 5px; 
    background: white;
}

.block .title { 
    color: #444;
    margin: 0px 0 0 10px; 
}

.logout {
    margin-left: 11px;
}

.moveup {
    position: relative;
    top: -3px;
    left: 2px;
}

input[type='checkbox'] {
    margin: 12px 10px 0px 0px; 
}

textarea { 
    width: 1px; 
    height: 1px; 
    position: absolute;
    left: -200px;
} 

.block {
    width: 605px;
    color: #444;
    border: 2px solid #777;
    background: #EEE;
}

.output-panel {
    height: 490px;
}

td {
    vertical-align: top;
}

.floating {
    float: left;
    padding: 10px 0px 0px 0px;
    margin: 10px 20px 10px 0px;
    overflow: hidden;
}

.block .link {
    margin: 24px; 
    height: 25px;
}

.blockEditor {
    width: 600px;
    height: 470px;
    overflow: auto;
}

.sourceEditor .CodeMirror {
    width: 600px;
    height: 100%;
    overflow: hidden;
}

.blockIERoundoffHack {
    width: 605px;
    height: 512px;
}

.contents.lt900 .block { height: 500px; width: 440px; }
.contents.lt800 .block { height: 400px; width: 260px; }
.contents.lt700 .block { height: 300px; width: 320px; }
.contents.lt600 .block { height: 250px; width: 270px; }
.contents.lt500 .block { height: 200px; width: 240px; }


.indent {
    padding-left: 12px;
    margin-bottom: 7px;
}

.small {
    font-size: 80%;
}

.wide {
    width: 90%;
}

.narrow {
    width: 320px;
}

.red {
    color: red;
}

.public {
    position: relative;
    top: -20px; 
    left: 117px; 
    height: 0px;
    color: red;
    font-style: italic;
}

.block .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
}

.block img {
    margin: 10px 20px;
    padding-left: 9px;
}

.block .author {
    margin-right: 10px;
    color: blue;
}

.clear {
    clear: both;
}

.blockContent {
    background: white;
    height: 160px;
    overflow: hidden;
    padding-top: 7px;
}

.tall {
    height: 240px;
}

.short {
    height: 150px;
}
.blockPreview { 
    padding: 7px;
    cursor: pointer;
}
.grow {
    height: 100%;
}

.triangle-border {
    position: absolute;
    visibility: hidden;
    top: 20px;
    left: 50px;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid orange;
    color: #333;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.triangle-border:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: orange transparent;
    display: block;
    width: 0;
}
.triangle-border:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}
.shown {
    visibility: visible;
}
.hidden {
    visibility: hidden; 
}

.noPreview { 
    font-size: 55%;
    color: #888;
    font-style: italic;
} 

.CodeMirror {
    height: auto; 
    border: 1px solid #ddd; 
    font-size: 13px; 
} 
.contents.lt500 .CodeMirror { font-size: 8px; }
.contents.lt600 .CodeMirror { font-size: 9px; }
.contents.lt700 .CodeMirror { font-size: 10px; }
.contents.lt800 .CodeMirror { font-size: 11px; }
.contents.lt900 .CodeMirror { font-size: 12px; }

.CodeMirror-scroll {
    height: 100%; 
}
.CodeMirror pre {
    padding-left: 7px; 
    line-height: 1.25; 
}

a .home { 
    margin: 6px 0px 0px 1px; 
}

ul.social { 
    margin: 0px 0px 0px 40px;
    width: 450px;
}

.script {
    padding-top: 3px;
    padding-left: 5px;
}

.block .output {
    margin-top: 3px;
    margin-bottom: 5px;
}

.social a, .social iframe , .social div {
    display: block;
    float: left;
}
ul.social li {
    float: left;
    list-style: none;
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
    line-height: 0px;
    width: 97px;
}
ul.social textarea {
    width: 1px;
    height: 1px;
}

.credits {
    font-size: 50%;
}

.spacer { 
    margin: 0px 15px;
}

.height { 
    margin: 18px 0px 0px 0px;
}

.sourceLink { 
    color: #444; 
    cursor: hand;
    font-size: 62%; 
    margin: 5px 0 5px 0; 
    text-decoration: none;
    padding: 2px;
    background: lightyellow;
}

.selected { 
    color: white; 
    background: darkgreen;
}

.ui-slider-handle {background-color: yellow }

.controlBar { margin: 3px; }
.speed { 
    font-family: Verdana,Arial,sans-serif;
    width: 85px; 
    font-size: 82%; 
    margin: 0px 7px 0px 1px; 
    background: white; 
    border: 1px solid #CCC;
}
.slider { 
    width: 105px; 
    font-size: 50%; 
    margin: 7px 5px 0px 0px;
}
.progress { font-size: 70%; margin: 10px; }

.logran { 
    background:orange; 
}

.rendering { 
    background:white; 
    border:1px solid #ddd; 
    width:600px; 
    height:451px; 
    margin-top: -8px;
} 

.left {
    float: left;
} 

.right {
    float: right;
} 





// tabs

.container {width: 500px; min-height: 600px; margin: 10px auto;}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.tabs li {
     
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #F0F0F0;
    overflow: hidden;
    position: relative;
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}   
html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab_container {
    border: 1px solid #999;
    border-top: none;
    clear: both;
    float: left; 
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.tab_content {
    padding: 5px 20px;
    font-size: 1.2em;
}
.tab_content h2 {
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.8em;
}
.tab_content h3 a{
    color: #254588;
}
.tab_content img {
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    padding: 5px;
}
